html,body,div,h1,h2,h3,h4,h5,h6,p,ul,li,img,a,header,nav,dl,dt,dd { margin: 0; padding: 0; }
html { font-size: 62.5%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { color: #848484; background-color: #FAFAFA; margin: 0; padding: 0; font: 17px/30px "Roboto", sans-serif; word-wrap: break-word; font-weight: 300; }

img { max-width: 100%; }
h1,h2,h3,h4,h5,h6 {	color: #444; font-family: "Lato", sans-serif; }
h1 { font-size: 26px; line-height: 1.5; text-align: center; padding: 30px 0 20px; }
h2 { font-size: 22px; font-weight: 700; padding: 15px 0; }
h3 { font-size: 20px; font-weight: 400; padding-bottom: 10px; }
h4 { font-size: 16px; padding-bottom: 10px; }
h5 { font-size: 14px; padding-bottom: 10px; }
h6 { font-size: 12px; padding-bottom: 10px; }

a { color: #448AFF; text-decoration: none; cursor: pointer; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; padding-bottom: 2px; }
a:hover, a:active { color: #3F5FFF; border-bottom: 1.5px solid #3F5FFF; padding-bottom: 2px; }

p { margin-bottom: 25px;}

.pad-paragraph {padding: 0 20px;}
.ulist { margin: 1em 0; padding-left: 40px;}




section { padding: 0 15px; }

section .bleed { padding: 0; }

.spacer1 { height: 2em; }
.spacer2 { height: 1.2em; }
.space { margin-top: 20px; }

.quote h3 { font: 400 24px/40px "Lato", sans-serif; color: #444; }


#gnav { position: relative; z-index: 999; text-align: center; padding: 10px 0 20px; background-color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
#gnav h2,
#gnav ul { text-transform: uppercase; }

#gnav h2 { font: 26px/26px "Lato", sans-serif; display: inline-block; }
#gnav ul { font: 20px/26px "Lato", sans-serif; list-style: none; }
#gnav li { display: inline; padding-left: 20px; color: #565656; }
#gnav li:first-of-type { padding-left: 0; }
#gnav a { color: #565656; text-decoration: none; cursor: pointer; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; padding-bottom: 2px; }
#gnav a:hover, #gnav a:active { color: #FF3B00; border-bottom: none; }

#rose-logo a { background: url('http://rebeccarose.me/img/rose.png') no-repeat 0 50%; background-size: 32px 50px; padding: 12px 40px; margin-bottom: 10px; }
.portfolio #portfolio { border-bottom: 1.5px solid #969696; padding-bottom: 2px; color: #969696; }
.portfolio #portfolio a:hover, a:active { color: #3F5FFF; border-bottom: 1.5px solid #3F5FFF; padding-bottom: 2px; }
.about #about { border-bottom: 1.5px solid #969696; padding-bottom: 2px; color: #969696; }



.portfolio h1 { font-size: 36px/40px; text-align: center; padding: 30px 0 20px; }

@media only screen and (min-width: 640px) {
	#gnav { text-align: left; padding: 10px 20px; }
	#gnav:after { content:''

; display:block; height:0; clear:both; visibility:hidden; }
	#gnav h2 { float: left; margin-bottom: 0; }
	#gnav nav { float: right; text-align: right; padding-top: 14px; }
}

.btn { font: 400 20px/22px "Roboto", sans-serif; color: #222; background-color: #FF9E7C; padding: 10px; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; border-radius: 2px; }
.btn:hover, .btn:focus, .btn.active { font: 400 20px/22px "Roboto", sans-serif; color: #222; background-color: #EE8059; padding: 10px;  margin-top: 30px; border-bottom: 0px; border-radius: 2px; }


.level1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }

#hero { min-width: 100%; position: relative; overflow: hidden} /* 1729px */
#hero:after { content:''; display:block; height:0; clear:both; visibility:hidden; }

#hero img { display: block; min-width: 100%;}

#hero { width: 100%; height: 430px; background-size: 640px 430px; margin-left: auto; margin-right: auto; background-position: 50% 0; background-repeat: no-repeat; }
@media only screen and (min-width: 640px) { #hero { background-size: 1024px 512px; height: 512px; }}
@media only screen and (min-width: 1024px) { #hero { background-size: 2550px 700px; height: 700px; }}

	.home #hero 		{ background-image: url(../img/Rebecca_Rose_hero_small.jpg); }
	.pos #hero      	{ background-image: url(../img/POS_hero_small.jpg); }
	.enterprise #hero 	{ background-image: url(../img/enterprise_hero_small.jpg); }
	.esurance #herowrap { background: #2A264F; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(-90deg, #1B174B, #2A264F); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(-90deg, #1B174B, #2A264F); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(-90deg, #1B174B, #2A264F); /* For Firefox 3.6 to 15 */ background: linear-gradient(-90deg, #1B174B, #2A264F); /* Standard syntax (must be last) */ }
	.esurance #hero		{ background-size: 401px 430px; height: 430px; background-image: url(../img/esurance_hero_small.png); }
	.basket #hero		{ background-image: url(../img/basket_hero_small.jpg); }


@media only screen and (min-width: 640px) {
	.home #hero 		{ background-image: url(../img/Rebecca_Rose_hero_medium.jpg); }
	.pos #hero      	{ background-image: url(../img/POS_hero_medium.jpg); }
	.enterprise #hero 	{ background-image: url(../img/enterprise_hero_medium.jpg); }
	.esurance #hero		{ background-size: 785px 512px; height: 512px; background-image: url(../img/esurance_hero_medium.png); }
	.basket #hero		{ background-image: url(../img/basket_hero_medium.jpg); }
}

@media only screen and (min-width: 1024px) {
	.home #herowrap 	{ background-color: #ccc5bf; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(#ccc5bf, #8d7f72); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#ccc5bf, #8d7f72); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#ccc5bf, #8d7f72); /* For Firefox 3.6 to 15 */ background: linear-gradient(#ccc5bf, #8d7f72); /* Standard syntax (must be last) */ }
	.home #hero 		{ background-size: 1442px 700px; height: 700px; background-image: url(../img/Rebecca_Rose_hero_large.jpg); }
	.pos #hero      	{ background-image: url(../img/POS_hero_large.jpg); }
	.enterprise #hero 	{ background-image: url(../img/enterprise_hero_large.jpg); }
	.esurance #hero		{ background-size: 921px 580px; height: 580px; background-image: url(../img/esurance_logo_hero_large.png); }
	.basket #hero		{ background-image: url(../img/basket_hero_large.jpg); }
	}


#researchwrap 	{ background-color: #FF8A65; }
#research { height: 1703px; background-size: 385px 1703px; background-image: url(../img/Basket_research_narrow.png); width: 100%; margin-left: auto; margin-right: auto; background-position: 50% 0; background-repeat: no-repeat; }
@media only screen and (min-width: 924px) { #research { height: 924px; background-size: 864px 924px; background-image: url(../img/Basket_research_wide.png); }}

.main-img #hero {
	display: block;
    height: inherit;
    top: 0px !important;
}

#tagline { display: none;}

@media only screen and (min-width: 1150px) {
	#hero { text-align: left; color: #fff; min-width: 100%;}
}	

@media only screen and (min-width: 900px) { 
	#hero { text-align: left; color: #fff; height: 580px; top: 0px;}
	#hero #tagline { position: absolute; left: 50%; top: 20%; text-align: left; display: inline; }
	#tagline:after { content:''; display:block; height:0; clear:both; visibility:hidden; }
	#tagline h1 { font: 3.5em "Lato", sans-serif; font-weight:600; text-transform: uppercase; text-align: left; color: #fff; text-shadow: 0px 0px 20px rgba(54, 45, 37, 0.50); }
	.subhead h3 { margin-right: 32%; font: 1.5em "Lato", sans-serif; text-align: left; color: #fff; text-shadow: 0px 0px 20px rgba(54, 45, 37, 0.50);  }
	.btn { box-shadow: 0px 0px 20px rgba(54, 45, 37, 0.50); }
	#tagline p { margin-top: 30px;  padding: 0;}
 }
}


/*
@media only screen and (min-width: 1400px) {
#hero img { display: inline; max-height: 680px;}
}*/	

article { width: 100%; position: relative; text-align: left; }

.strengths i { color:#FF3B00; }
.strengths { text-align: center; }

.hobbies i { color:#FF3B00; }

.figure-wrap {padding: 0px 10px;}

.row { clear: both; }
.row:after { content:''; display:block; height:0; clear:both; visibility:hidden; }

.span_1_of_4 { width: 50%; float: left;}
.span_1_of_4:nth-child(odd) { margin-left: 0; }

.span_4_of_5 { width: 79.68%; float: left; }
.span_3_of_5 { width: 59.36%; float: left; }
.span_2_of_5 { width: 39.04%; float: left; }
.span_1_of_5 { width: 18.72%; float: left; }

.span_1_of_6 { width: 32.26%; display: block; float: left; margin-left: 1.6%; }
.span_1_of_6:first-of-type { margin-left: 0; }

.figure-container {padding: 0px 10px;}

.homepage-cards:hover { box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23); border-bottom: none; }
.homepage-cards { margin: 0 0 40px; box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12); }
.homepage-figure:active { text-align: left; }
.card:hover { border-bottom: none; }


.logos-top {display: none;}
.logos-bottom {display: none;}

@media only screen and (max-width: 800px) {
	.logos-top {display: block;}
	.logos-bottom {display: block;}
	.logos-full {display: none;}
}

@media only screen and (min-width: 500px) {
	.span_1_of_3.strengths { width: 50%; float: left; } /* height: 310px; */
	.span_1_of_3.strengths:first-of-type { margin-left: 0; }
}

@media only screen and (min-width: 640px) {
	.span_1_of_2 { width: 47%; float: left; margin-left: 3%; }
	.span_1_of_2:first-of-type { margin-left: 0; }

	.span_2_of_3 { width: 66.13%; float: left; margin-left: 1.6%; }
	.span_2_of_3 { margin-left: 0; }

	.span_1_of_4 { width: 25%; display: block; float: left;}

	.span_1_of_6 { width: 15.33%; display: block; float: left; margin-left: 1.6%; }
	.span_1_of_6:first-of-type { margin-left: 0; }
}

@media only screen and (min-width: 700px) {
	.porfolio .span_1_of_2 { width: 47%; float: left; margin-left: 3%; }
	.porfolio .span_1_of_2:first-of-type { margin-left: 0; }

}

@media only screen and (min-width: 1100px) {
	.span_1_of_3.strengths { width: 33.3%; float: left; }
	.span_1_of_3.strengths:first-of-type { margin-left: 0; }
}

.material-icons.md-80 { font-size: 80px; }
.material-icons.md-48 { font-size: 48px; }

#logo { clear:both; background-color: #F5F5F5; padding: 12px 40px; margin: auto 0; }
#logo:after { content:''

; display:block; height:0; clear:both; visibility:hidden; }
#logo img { vertical-align:text-bottom;-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */ filter: grayscale(100%); opacity: 0.4; filter: alpha(opacity=40); /* For IE8 and earlier */ padding: 10px 0 20px; }
#logo h2 {text-align: center; }

.contact a { color: #448AFF; text-decoration: none; cursor: pointer; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; }
.contact a:hover, a:active { color: #3F5FFF; border-bottom: 0px }
.contact i { margin: 0 2%; }

.QBPOS footer, .QBES footer, .esurance footer, .basket footer {text-align: center; background-color: #fff; }
/*.QBPOS footer:after, .QBES footer:after, .esurance footer:after, .basket footer:after { content:''

; display:block; height:0; clear:both; visibility:hidden; }
*//*
section { padding: 0 15px; clear: both; }*/

.content { padding: 0 15px 15px; max-width: 730px; margin-left: auto; margin-right: auto; }
.content h2 { padding: 40px 0 20px; }
section.light { background-color: #fff; padding-top: 20px;}
.dark { background-color: #444; color: #fff; }
.dark h2 { color: #fff; }
.dark .quote { color: #fff; }
article section .intro { background-color: #fff; margin: 0 10px 50px; max-width: 700px; margin-left: auto; margin-right: auto; }

.meta { text-align: center; padding: 0 0 2em; }
.meta:after { content:''

; display:block; height:0; clear:both; visibility:hidden; }
dl { margin-bottom: 10px; }
dt { text-transform: uppercase; }
dd { color: #444; }

@media only screen and (min-width: 640px) {
	.meta { text-align: left; padding: 0 0 4em; }
	dl { float: left; width: 38%; margin-left: 5%; }
	dl:first-of-type { width: 12%; margin-left: 0; }
}

.tldr { font: 20px/30px "Lato", sans-serif; text-align: center; color: #444; margin: 2em; }


figure { /*display: inline;*/ margin: 20px 0; }
.pad-top { margin-top: 20px; }
figure h4 { margin-top: 15px; }
figcaption { font: 300 15px/27px "Roboto", sans-serif; margin: 1.5em 0 0;}
figcaption p { font: 300 15px/27px "Roboto", sans-serif; margin: 1.5em 0 2.5em;}
img.nocaption { margin-bottom: 20px;}

.center { text-align: center; }
img.middle { display: block; margin: 0 auto; }

section.overview,
section.projects {max-width: 80%; margin: 20px auto; }
.overview h1 { margin: 30px 0 40px; }
.projects figcaption { color: #848484; padding: 0px 26px 2.5em 26px; }
.projects figcaption h3 { color: #444; }
.projects figcaption:hover { color: #333; }
.bleed { margin: 0;  padding: 0; }

hr { max-width: 50px; border-color: #FF3B00; border-width: 2px; border-style: solid; }

.circle { border-radius: 50%; width: 25%; height: 25%; }

#portfoot { position: relative; z-index: 999; text-align: center; background-color: #F5F5F5; margin-bottom: 0px; }
#portfoot .left, #portfoot .right { padding: 12px 40px; }

#portfoot a { color: #565656; text-decoration: none; cursor: pointer; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; }
#portfoot a:hover, a:active { color: #FF3B00; border-bottom: 0px; }
#portfoot i { vertical-align: middle; } 

@media only screen and (min-width: 640px) {
	#portfoot { text-align: left; }
	#portfoot:after { content:''; display:block; height:0; clear:both; visibility:hidden; }
	#portfoot .left { float: left; padding: 1%; }
	#portfoot .right { float: right; text-align: right; padding: 1%; } 
	#portfoot i { vertical-align: middle; }
}

.thumbnail a { color: #565656; text-align: center; text-decoration: none; cursor: pointer; -webkit-transition: all .35s; -moz-transition: all .35s; transition: all .35s; }
.thumbnail a:hover, .thumbnail a:active { color: #FF3B00; text-align: center; border-bottom: 0px; }
.QBPOS #QBPOS a { color: #969696; }
.QBPOS #QBPOS img { opacity: 0.5; }
.QBES #QBES a { border-bottom: 0px; color: #969696; }
.QBES #QBES img { opacity: 0.5; }
.esurance #esurance a { border-bottom: 0px; color: #969696; }
.esurance #esurance img { opacity: 0.5; }
.basket #basket a { border-bottom: 0px; color: #969696; }
.basket #basket img { opacity: 0.5; }